#box {width: 100px; height: 100px; position: absolute; ; left: 200px; top: 200px;
<box src: https://vignette.wikia.nocookie.net/supercomputer/images/5/50/200px-Carl_Brutananadilewski_%28Aqua_Teen_Hunger_Force%29.jpg/revision/latest?cb=20100719213009>
}

body {
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2012/10/22/20369/c9327f1cf4d42f42da59751564a92270-700.jpg)
}
